<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.map.restaurant.good.dao.ReviewDAO">
    <insert id="saveReview">
        insert into tbl_review (id, title, address, review, grade, lon, lat)
        values (#{id}, #{title}, #{address}, #{review}, #{grade}, #{lon}, #{lat}) on duplicate key
        update
            title = #{title},
            address = #{address},
            review = #{review},
            grade = #{grade},
            lon = #{lon},
            lat = #{lat}
    </insert>

    <select id="getReviews" resultType="hashMap">
        select *
        from tbl_review
    </select>

    <delete id="deleteReview">
        delete
        from tbl_review
        where id = #{id}
    </delete>
</mapper>
